* {
  margin: 0;
  padding: 0;
}
* body::-webkit-scrollbar {
  width: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 5.33333333vw;
  height: 12.325rem;
}
.w {
  width: 17.325rem;
  margin: 0 auto;
}
.center {
  width: 17.325rem;
  margin-left: 0.625rem;
  margin-bottom: 1rem;
}
.center video {
  width: 100%;
  margin-top: 2.325rem;
}
